:root {
    --quad: cubic-bezier(0.48, 0.04, 0.52, 0.96);
    --quart: cubic-bezier(0.76, 0.00, 0.24, 1.00);
    --quint: cubic-bezier(0.84, 0.00, 0.16, 1.00);
    --color-bg: #1d1e22;
    font-family: 'Raleway';
    font-size: 12px;
    background-color: var(--color-bg);
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    height: 100vh;
    overflow-y: hidden;
}

svg { width: 100%; }


.anim-mask {
    fill: var(--color-bg);
}

.testAnno {
    font-size: 2rem;
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    user-select: none;
    cursor: default;
}

/* .anim-main {
    animation: rainbow 2.5s var(--quint);
	  animation-iteration-count: infinite;
} */

.anim-main {
  fill: white;
  stroke: white;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    padding: 5rem;
}

.site-wrap {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-bg);
    padding: 5rem 0px;
    box-sizing: border-box;
    height: 100vh;
}

.anim-red {
    width: 10rem;
    /* height: 10rem; */
    /* background-color: rgba(0, 0, 0, 0.2); */
}


@keyframes rainbow{
		100%,0%{ fill: rgb(255,0,0); stroke: rgb(255,0,0); }
		8%{ fill: rgb(255,127,0); stroke: rgb(255,127,0); }
		16%{ fill: rgb(255,255,0); stroke: rgb(255,255,0); }
		25%{ fill: rgb(127,255,0); stroke: rgb(127,255,0); }
		33%{ fill: rgb(0,255,0); stroke: rgb(0,255,0); }
		41%{ fill: rgb(0,255,127); stroke: rgb(0,255,127); }
		50%{ fill: rgb(0,255,255); stroke: rgb(0,255,255); }
		58%{ fill: rgb(0,127,255); stroke: rgb(0,127,255); }
		66%{ fill: rgb(0,0,255); stroke: rgb(0,0,255); }
		75%{ fill: rgb(127,0,255); stroke: rgb(127,0,255); }
		83%{ fill: rgb(255,0,255); stroke: rgb(255,0,255); }
		91%{ fill: rgb(255,0,127); stroke: rgb(255,0,127); }
}