:root {
    --quart: cubic-bezier(0.76, 0.00, 0.24, 1.00);
    --quad: cubic-bezier(0.48, 0.04, 0.52, 0.96);
    --quint: cubic-bezier(0.84, 0.00, 0.16, 1.00);

    --toolbar-h: 40px;  /* not in use */
    --banner-h: 800px;  /* not in use */

    --color-title-blue: rgb(60, 100, 194);
    --color-border: rgb(225, 225, 225);
    --color-white: rgb(255, 255, 255);
    --color-bg: rgb(243, 243, 243);
    --color-deep: rgb(14, 30, 37);
    --color-tab-active: #229990;
    font-size: 12px;
    --grid-gap: 1%;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    transition: all 80ms var(--quart) 20ms;
}


.header {
    box-sizing: border-box;
	position: fixed;
    width: 100%;
    height: var(--toolbar-h);
    padding: 0px .5rem;
    border-style: solid;
    border-color: var(--color-border);
    box-shadow: rgba(5, 5, 5, 0.065) 0px 2px 0px 0px;
	background-color: rgb(255, 255, 255);
    z-index: 10;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.tabs {
    user-select: none;
    min-width: 50%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    cursor: pointer;
}

.tab-body {
    height: var(--toolbar-h);
    display: grid;
    grid-template-rows: 8fr 1fr;
}

[class^="tab-main"] {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    transition: 
                color 80ms var(--quint) 20ms,
     background-color 80ms var(--quint) 20ms;
}

.tab-line {
    border-width: 2px;
    transition: border-color 80ms var(--quint) 20ms;
}

.tab-main-active {
    color: var(--color-tab-active);
}

.tab-main-idle {
    color: var(--color-border);
}

.logo {
    width: calc(var(--toolbar-h) - 4px);
    height: calc(var(--toolbar-h) - 4px);
    border-radius: 1rem;
    background-image: url("https://i.imgur.com/eryxWD2.gif");
    background-size: contain;
    background-repeat: no-repeat;
}

.banner {
	width: 100%;
	height: 800px;
	position: fixed;
	top: var(--toolbar-h);
	background-color: var(--color-deep);
}

.banner-anno {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    width: 100%;
    height: 800px;
    display: grid;
    grid-template-rows: 6fr 2fr 0fr 2fr 5fr;
    user-select: none;
}

.anno-grid {
    display: grid;
    grid-template-columns: 1fr;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-title {
    font-family: 'Bree-Serif';
    position: relative;
    font-size: 11rem;
    color: white;
    width: 100%;
}


.banner-subtitle {
    font-family: 'Roboto';
    position: relative;
    font-size: 3rem;
    color: white;
    width: 100%;
}

.banner::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--color-deep);
    opacity: .85;
}

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
	    transform: translate(-50%, -50%);
}

.content {
	width: 100%;
	position: absolute;
    /* top: calc(var(--banner-h) + var(--toolbar-h)); */
    /* top: calc(800px + var(--toolbar-h)); */
    top: 840px;
	background-color: var(--color-bg);
	height: 1500px;
}



@media screen 
    and (orientation: landscape)
    and (max-width:760px) {
    
    .banner {
        background: url('https://thumbs.gfycat.com/ThatThirdHumpbackwhale-size_restricted.gif') center center / cover no-repeat;
        height: 300px;
        top: 30px;
    }

    .logo {
        width: 26px;
        height: 26px;
    }

    .tab-body, .header {
        height: 30px;
    }
    .tab-body {
        grid-template-rows: 7fr 1fr;
    }

    .tab-line {
        box-sizing: content-box;
        height: 0px;
        border-width: 2px;
    }

    [class^="tab-main"] {
        font-size: 1rem;
    }

    .content {
       	top: 330px;
    }

    .fullscreen-bg__video {
        display: none;
    }

    .banner-anno {
        grid-template-rows: 6fr 2fr 0fr 2fr 5fr;
        height: 300px;
    }
    .banner-title {
        font-size: 10vw;
    }
}

@media only screen 
    and (orientation: portrait)
    and (max-width:400px) {
    .content {
       	top: 240px;
    }
    .fullscreen-bg__video {
        display: none;
    }
    [class^="tab-main"] {
        font-size: 1rem;
    }

    .logo {
        width: 26px;
        height: 26px;
    }

    .tab-body, .header {
        height: 30px;
    }
    .tab-body {
        grid-template-rows: 7fr 1fr;
    }

    .banner {
        background: url('https://thumbs.gfycat.com/FavoriteRadiantKoi-size_restricted.gif') center center / 100% no-repeat;
        height: 200px;
        display: flex;
        align-items: flex-start;
        top: 30px;

    }

    .banner-anno {
        grid-template-rows: 6fr 2fr 0fr 2fr 5fr;
        height: 200px;
    }
    .banner-title {
        font-size: 10vw;
    }
}


